<form action="/posts" method="post">

    Title: <input type = "text" name = "title"> <br>
    Content: <textarea type = "text" name = "content"></textarea> <br>
    Subject: <input type = "text" name = "subject"> <br>
    <input type = "submit" value = "Post Tweet">

</form>